# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
ENV/
env/
*.env

# IDE / Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python-related
*.coverage
*.tox
*.nox
*.coverage.*
*.hypothesis/

# Docker-related
.docker/
docker-compose.yml
Dockerfile
